.hero-section {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14 13 13 / 92%);
    padding: '20px';
    color: white;
}

.hero-section > img {
    min-width:  150px;
    min-height: 150px;
    max-height: 450px;
    max-width:  450px;
    filter: grayscale(1);
    animation: up_down 1s linear alternate infinite;
}

.hero-section > p {
    margin-top: 20px;
}

@keyframes up_down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 480px) {
    .hero-section > img {
        width: 250px;
        height: 250px;
    }
    .hero-section > p {
        font-size: 24px;
        margin-top: 10px;
    }
}